body{
  background-color: #212529;
}
.hero{
  height: 100vh;
  background-image: url("../img/foto-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
}

.hero::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  z-index: 1;
}

.hero-content{
  position: relative;
  z-index: 2;
  color: white;
  max-width: 600px;
}

.hero h1{
  font-size: 3rem;
}

.hero p{
  font-size: 1.2rem;
}

@media (max-width: 768px){
  .hero h1 {
    font-size: 2rem;
  }
  .hero p {
    font-size: 1rem;
  }
}

.custom-accordion .accordion-item{
  background-color: #2b3035;
  border: none;
  margin-bottom: 12px;
  border-radius: 10px;
  overflow: hidden;
}

.custom-accordion .accordion-button{
  background-color: #2b3035;
  color: #fff;
  font-weight: 600;
  border: none;
  box-shadow: none;
  padding: 1.2rem;
}

.custom-accordion .accordion-button:not(.collapsed){
  background-color: #343a40;
  color: #fff;
}

.custom-accordion .accordion-body{
  background-color: #343a40;
  color: #d1d1d1;
  padding: 1.2rem 1.5rem;
  line-height: 1.6;
}

.custom-accordion .accordion-button:hover{
  background-color: #383f45;
  transition: 0.2s ease;
}

.portfolio-item{
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.portfolio-item img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.portfolio-item:hover img{
    transform: scale(1.07);
    opacity: 0.85;
}

.modal-content{
    border: none;
}

.modal-body{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0%;
}

.modal-body img{
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
}

.contact-section i{
    opacity: 0.9;
    transition: 0.3s ease;
}

.contact-section i:hover{
    transform: scale(1.1);
    opacity: 1;
}
.contact-section a{
    text-decoration: none;
    transition: 0.3s ease;
}

.contact-section a:hover{
    color: #ffffff;
}

